/* =============
    Ingredients
============= */
#ingredients{
  background-color: green;
  display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-areas: ". ingredients .";

  >div{
    grid-area: ingredients;
  }
}
